	<!-- [ navigation menu ] start -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="index.html"></script>
	<script>
		$(document).ready(function() {
			var $categoryvar = $("#CategorySelect");
			var $productvar = $("#ProductSelect");
			var $colorvar = $("#ColorSelect");

			getCartProducts();
			updateCart();

			var category_name;
			var product_name;

			$.ajax({
				type: "GET",
				url: '/get_category/',
				success: function(result) {
					$("#CategorySelect option").remove();
					$categoryvar.append('<option disabled selected="true">Category Name</option>');
					for (var i = 0; i < result.length; i++) {
						$categoryvar.append($("<option></option>").attr("value", i).text(result[i].category_name));
					};
				},
			});
			
			$categoryvar.change(function() {
				var optionSelected = $(this).find("option:selected");
				category_name = optionSelected.text();
				data = {'category': category_name};

				$.ajax({
					type: "GET",
					url: '/get_products/',
					data: data,
					success: function(result) {
						$("#ProductSelect option").remove();
						$productvar.append('<option disabled selected="true">Product Name</option>');
						for (var i = 0; i < result.length; i++) {
							$productvar.append($("<option></option>").attr("value", result[i].product_id).text(result[i].product_name));
						};
					},
				});		
			});

			$productvar.change(function() {
				var optionSelected = $(this).find("option:selected");
				var valueSelected = optionSelected.val();
				product_name = optionSelected.text();

				data = {'product_id': valueSelected};
				$.ajax({
					type: "GET",
					url: '/get_color/',
					data: data,
					success: function(result) {
						console.log(result);
						$("#ColorSelect option").remove();
						$colorvar.append('<option disabled selected="true">Color</option>');
						for (var i = 0; i < result.length; i++) {
							$colorvar.append($("<option></option>").attr("value", result[i].product_id).text(result[i].colour));
						};
					},
				});

				data = {'product_id': valueSelected, 'product_name': product_name};
				$.ajax({
					type: "GET",
					url: "/selection_submitted/",
					data: data,
					success: function(result) {
						$("#SubmitSelection").click(function(event) {
							temp = $colorvar.find("option:selected");
							color = temp.text();
							sendProductID(valueSelected);
							$(".productName").text(result[0].product_name);
							$(".storeAvailable").text(result[0].store_name);
							$(".productDescription").text(result[0].product_description)
							$(".productQuantity").text(result[0].quantity)
							update_product_selection(product_name, color);
						});	
					},					
				});

				$.ajax({
					type: "GET",
					url: "/product_price/",
					data: data,
					success: function(result) {
						$("#SubmitSelection").click(function(event) {
							$(".productPrice").text(result);
						});	
					},					
				});
				$.ajax({
					type: "GET",
					url: "/product_manufacturer/",
					data: data,
					success: function(result) {
						$("#SubmitSelection").click(function(event) {
							$(".productManufacturer").text(result[0].supplier_name);
						});	
					},					
				});
			});
		});

	</script>
	<nav class="pcoded-navbar menupos-fixed menu-light ">
		<div class="navbar-wrapper  ">
			<div class="navbar-content scroll-div " >
				<ul class="nav pcoded-inner-navbar ">

					<li class="nav-item pcoded-menu-caption">
						<label>Product Selector</label>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<form role="form" method="POST" action="">

							<li class="form-group pt-3 px-3">
								<select class="custom-select" id="CategorySelect">
									<option selected>Category Name</option>
								</select>
							</li>
							<li class="form-group pt-2 px-3">
								<select class="custom-select" id="ProductSelect">
									<option selected>Product Name</option>
								</select>
							</li>
							<li class="form-group pt-2 px-3">
								<select class="custom-select" id="ColorSelect">
									<option selected>Color</option>
									<!-- <option>Platinum Black</option>
									<option>Arctic White</option> -->
								</select>
							</li>
							<div class="text-center" src="/layouts/index.html">
								<button type="button" id="SubmitSelection" class="btn btn-success">Submit</button>
							</div>
						</form>
					</li>
				</ul>
			</div>
		</div>
	</nav>
    <!-- [ navigation menu ] end -->
