<nav class="pcoded-navbar menupos-fixed menu-light ">
    <div
        class="navbar-wrapper  ">
        <div class="navbar-content scroll-div">
            {% include 'includes/menu-list.html' %}
            <div class="card text-center">
                <div class="card-body px-3">
                    <a href="https://app-generator.dev/product/gradient-able/django/" target="_blank"
                        class="btn btn-primary btn-sm text-white m-0">Download</a>
                </div>
            </div>
        </div>
    </div>
</nav>