{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
    #invoice-POS{
    box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
    padding:2mm;
    margin: 0 auto;
    width: 44mm;
    background: #FFF;
    }

    h1{
    font-size: 1.5em;
    color: #222;
    }
    h2{font-size: .9em;}
    h3{
    font-size: 1.2em;
    font-weight: 300;
    line-height: 2em;
    }
    p{
    font-size: .7em;
    color: #666;
    line-height: 1.2em;
    }
    
    #top, #mid,#bot{ /* Targets all id with 'col-' */
    border-bottom: 1px solid #EEE;
    }

    #top{min-height: 100px;}
    #mid{min-height: 80px;} 
    #bot{ min-height: 50px;}

    .info{
    display: block;
    /* float:left; */
    margin-left: 0;
    }
    .title{
    float: right;
    }
    .title p{text-align: right;} 
    table{
    width: 100%;
    border-collapse: collapse;
    }
    td{
    /* //padding: 5px 0 5px 15px;
    //border: 1px solid #EEE */
    }
    .tabletitle{
    /* //padding: 5px; */
    font-size: .5em;
    background: #EEE;
    }
    .service{border-bottom: 1px solid #EEE;}
    .item{width: 24mm;}
    .itemtext{font-size: .5em;}

    #legalcopy{
    margin-top: 5mm;
    }
</style>
{% endblock stylesheets %}

{% block content %}
    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ Main Content ] start -->
            <div class="row">
                <!-- seat-selection start -->
                <div class="col-lg-12">
                    <div class="card">                        
                        <div class="card-header">
                            <h5>Product</h5>
                            <div class="card-header-right">
                            </div>
                        </div>
                            <div class="card-body">
                                <div class="product_container" id="product_container">
                                    <div class="image_container" id="product_image">
                                        <img src="/static/assets/images/iPhone12.jpg" width="1000" height="400" id="productImage">
                                    </div>
                                </div>
                                <br>
                                <br>
                                <h5 class="text-black">Product Name <span class="float-right productName"></span></h5>
                                <h5 class="text-black">Store Available <span class="float-right storeAvailable"></span></h5>
                                <h5 class="text-black">Price <span class="float-right productPrice"></span></h5>
                                <h5 class="text-black">Manufacturer <span class="float-right productManufacturer"></span></h5>
                                <h5 class="text-black">Quantity Available <span class="float-right productQuantity"></span></h5>
                                <h5 class="text-black">Product Description <span class="float-right temp"></span></h5>
                                <pre><h3 class="text-black"></h3></pre><span class="float-right productDescription"></span></h3>
                                <button type="button" id="addcart" class="btn btn-primary mx-auto">Add to Cart</button>
                            </div>
                        <div class="dropdown-divider"></div>
                        <div class="dropdown-divider"></div>
                        <div class="card-header">
                            <h4>Cart</h4> 
                            <form role="form" method="POST" action="">
                                <select class="custom-select" id="productRem">
                                    <option selected>Product Name</option>
                                </select>
                            </form>     
                        </div>
                        <div class="card-body">
                            <button type="button" id="removecart" class="btn btn-primary mx-auto">Remove From Cart</button>
                            <br></br>
                            <h5 class="text-black">Total Price <span class="float-right totalPrice"></span></h5>
                            <h5 class="text-black">Total Quantity <span class="float-right totalQuantity"></span></h5>                          
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="dropdown-divider"></div>
                        <div class="card-header">
                            <h4>Shipping</h4> 
                            <form role="form" method="POST" action="">
                                <select class="custom-select" id="shippingButton">
                                    <option selected>Select a Shipping Method</option>
                                    <option>Standard Ground Shipping</option>
                                    <option>Express Shipping</option>
                                    <option>Next Day Delivery</option>
                                </select>
                            </form>     
                        </div>
                        <div class="card-body">
                            <button type="button" id="invoiceButton" class="btn btn-primary mx-auto">Create Invoice</button>
                            <br></br>                         
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="dropdown-divider"></div>
                        <div class="card-header">
                            <h4>Invoice</h4>    
                        </div>
                        <div id="invoice-POS">    
                            <div id="mid">
                                <div class="info">
                                <h2>Contact Info</h2>
                                <p> 
                                    Address : 2500 University Dr NW, Calgary AB, Canada</br>
                                    Email   : InventoryStore@cpsc471.com</br>
                                    Phone   : (403) 471-4714</br>
                                    Fax     : (403) 220-0762</br>
                                </p>
                                </div>
                            </div><!--End Invoice Mid-->
                            <div id="bot">
                                <div id="table">
                                    <table id="invoiceTable">
                                        <tr class="tabletitle">
                                            <td class="item"><h2>Item</h2></td>
                                            <td class="Hours"><h2>Qty</h2></td>
                                            <td class="Rate"><h2>Sub Total</h2></td>
                                        </tr>                        
                                    </table>
                                </div><!--End Table-->
                                <div id="legalcopy">
                                    <p class="legal"><strong>Thank you for your business!</strong> We hope to see you shop at our store again. 
                                    </p>
                                </div>
                            </div><!--End InvoiceBot-->
                        </div><!--End Invoice-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!-- Apex Chart -->
    <script src="/static/assets/js/plugins/apexcharts.min.js"></script>
    <!-- custom-chart js -->
    <script src="/static/assets/js/pages/dashboard-main.js"></script>
    <script>
    function update_product_selection(product_name, color){
        if(color == "Platinum black"){
            colorTag = 'Black';
        }
        else if (color == "Arctic white"){
            colorTag = 'White';
        }
        str = product_name.replace(/\s+/g, '');
        image_path = "/static/assets/images/" + str + colorTag + ".jpg";
        var target = document.getElementById("productImage");
        target.src = image_path;
        target.style.width = 1000+'px';
        target.style.height = 400+'px';
    }

    function updateProductQuantity(quantity){
        data = {'product_id': globalProduct_id, 'quantity': quantity};
        $.ajax({
            type: "GET",
            url: "/update_product_quantity/",
            data: data,
            success: function(result) {
                $(".productQuantity").text(result.quantity);
            },					
        });
    }

    function getCartProducts(){
        var $productvar = $("#productRem");
        var product_name;
        $.ajax({
            type: "GET",
            url: '/cart_products/',
            success: function(result) {
                $("#productRem option").remove();
                $productvar.append('<option disabled selected="true">Product Name</option>');
                for (var i = 0; i < result.length; i++) {
                    $productvar.append($("<option></option>").attr("value", result[i].product_id).text(result[i].product_name));
                };
            },
        });
    }

    function updateCart(){
        $.ajax({
            type: "GET",
            url: "/cart_price/",
            success: function(result) {
                $(".totalPrice").text(result);
            },					
        });
        $.ajax({
            type: "GET",
            url: "/cart_quantity/",
            success: function(result) {
                $(".totalQuantity").text(result.quantity);
            },					
        });
    }

    $("#addcart").click(function(event) {
        data = {'product_id': globalProduct_id};
        $.ajax({
            url: "/add_product_cart/",
            method : "POST",
            data: data,
            success: function(result) {
                updateCart();
                getCartProducts();
                updateProductQuantity(-1);
            },
        });
    });

    $("#removecart").click(function(event) {
        var valueSelected = $("#productRem").val();
        data = {'product_id': valueSelected};
        $.ajax({
            url: "/remove_cart/",
            method : "GET",
            data: data,
            success: function(result) {
                updateCart();
                getCartProducts();
                updateProductQuantity(1);
            },
        });
    });

    function sendProductID(product_id){
        globalProduct_id = product_id;
    }

    $("#invoiceButton").click(function(event) {
        clearInvoice();
        totalPrice = 0.0;
        taxAmount = 0.0;
        productUpdate();
        calculateTax();
        totalPrice += shippingAmount;
        taxAmount = taxAmount.toFixed(2);
        totalPrice = totalPrice.toFixed(2);
        addTaxAndTotal();
    });

    function productUpdate() {
        tempName = [];
        tempPrice = [];
        tempID = [];
        $.ajax({
            url: "/cart_products/",
            method : "GET",
            async: false,
            success: function(result) {
                for(var i = 0; i < result.length; i++){
                    tempName = result[i].product_name;
                    tempID.push(result[i].product_id);
                    data = {'product_id': result[i].product_id};
                    $.ajax({
                        url: "/product_price/",
                        method : "GET",
                        data: data,
                        async: false,
                        success: function(result1) {
                            tempPrice.push(result1);
                            totalPrice = totalPrice + (parseFloat(result1[0]));
                            // Add product to Table
                            productAddToTable(tempName, result1);
                        },
                    });
                }
            },
        });
    }

    function productAddToTable(name, price) {
        // First check if a <tbody> tag exists, add one if not
        if ($("#invoiceTable tbody").length == 0) {
            $("#invoiceTable").append("<tbody></tbody>");
        }
        // Append product to the table
        $("#invoiceTable tbody").append("<tr>" +
            "<td>" + name + "</td>" +
            "<td> 1 </td>" +
            "<td>" + price + "</td>" +
            "</tr>");
    }

    function addTaxAndTotal(){
        // Append product to the table
        $("#invoiceTable tbody").append(
        "<tr class=\"tabletitle\"> <td></td>" +
        "<td class=\"Rate\"><h2>Tax</h2></td>" +
        "<td class=\"payment\"><h2>$"+taxAmoumt.toFixed(2)+"</h2></td>" +
        "</tr>" +
        "<tr class=\"tabletitle\"> <td></td>" +
        "<td class=\"Rate\"><h2>Shipping</h2></td>" +
        "<td class=\"payment\"><h2>$"+shippingAmount.toFixed(2)+"</h2></td>" +
        "</tr>" +
        "<tr class=\"tabletitle\">" +
        "<td></td>" +
        "<td class=\"Rate\"><h2>Total</h2></td>" +
        "<td class=\"payment\"><h2>$"+totalPrice+"</h2></td>" +
        "</tr>");
    }

    function calculateTax(){
        taxAmoumt = totalPrice * 0.05;
        totalPrice = totalPrice * 1.05;
    }

    $("#shippingButton").change(function() {
	    var optionSelected = $(this).find("option:selected");
        var val = optionSelected.val();
        if(val.startsWith("S")){
            shippingAmount = 4.99;
        }
        else if (val.startsWith("E")){
            shippingAmount = 9.99;
        }
        else if(val.startsWith("N")){
            shippingAmount = 14.99;
        }
    });

    function clearInvoice(){
        $("#invoiceTable tr").remove();

        // First check if a <tbody> tag exists, add one if not
        if ($("#invoiceTable tbody").length == 0) {
            $("#invoiceTable").append("<tbody></tbody>");
        }
        $("#invoiceTable tbody").append(
            "<tr class=\"tabletitle\">" + 
            "<td class=\"item\"><h2>Item</h2></td>" +
            "<td class=\"Hours\"><h2>Qty</h2></td>" +
            "<td class=\"Rate\"><h2>Sub Total</h2></td>" +
            "</tr>");
    }

    </script>
{% endblock javascripts %}